build --action_env=CC=clang
build --cxxopt='-std=c++20'
build --host_cxxopt='-std=c++20'
build --copt=-fcolor-diagnostics
build --host_copt=-fcolor-diagnostics
build --cpu=local
build --host_cpu=local
build --cxxopt='-march=native'
build --host_cxxopt='-march=native'